<div class="modal fade text-dark myModal" id="techServiceModal">
  <div class="modal-dialog">
    <div class="modal-content bg-light">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="contactModalTitle">Tech Service</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">The Tech Service is a web application which offers different services to choose</p>
        <ngb-carousel>
          <ng-template ngbSlide>
            <img src="../../assets/img/TechService/home.png" alt="first" class="item">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/img/TechService/home2.png" alt="second" class="item">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/img/TechService/home3.png" alt="third" class="item">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/img/TechService/about.png" alt="third" class="item">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/img/TechService/services.png" alt="third" class="item">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/img/TechService/blog.png" alt="third" class="item">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/img/TechService/contact.png" alt="third" class="item">
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary btn-block">Live Preview</a>
      </div>
    </div>
  </div>
</div>