<div class="modal fade text-dark myModal" id="techBlogModal">
  <div class="modal-dialog">
    <div class="modal-content bg-light">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="contactModalTitle">Tech Blog</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">The Tech Blog is web application for the administrator, Where the admin can manage or manipulate the users, posts, and content of the web application</p>
        <ngb-carousel>
          <ng-template ngbSlide>
            <img src="../../assets/img/TechBlog/Dashboard.png" alt="first" class="item">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/img/TechBlog/post.png" alt="second" class="item">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/img/TechBlog/categories.png" alt="third" class="item">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/img/TechBlog/users.png" alt="third" class="item">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/img/TechBlog/profile.png" alt="third" class="item">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/img/TechBlog/login.png" alt="third" class="item">
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary btn-block">Live Preview</a>
      </div>
    </div>
  </div>
</div>